
IntermediaryBuz.WebUI/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUI.assets.cache
IntermediaryBuz.WebUI/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUI.Views.dll
IntermediaryBuz.WebUI/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
IntermediaryBuz.WebUI/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
IntermediaryBuz.WebUI/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
IntermediaryBuz.WebUI/obj/IntermediaryBuz.WebUI.csproj.nuget.g.props
IntermediaryBuz.WebUI/obj/IntermediaryBuz.WebUI.csproj.nuget.g.targets
IntermediaryBuz.WebUI/obj/project.assets.json
IntermediaryBuzXUnitTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
IntermediaryBuzXUnitTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
IntermediaryBuzXUnitTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
IntermediaryBuzXUnitTest/obj/Debug/netcoreapp2.1/IntermediaryBuzXUnitTest.Program.cs
IntermediaryBuzXUnitTest/obj/IntermediaryBuzXUnitTest.csproj.nuget.g.props
IntermediaryBuzXUnitTest/obj/IntermediaryBuzXUnitTest.csproj.nuget.g.targets
IntermediaryBuzXUnitTest/obj/project.assets.json
IntermediaryBuzXUnitTest/obj/Debug/netcoreapp2.1/IntermediaryBuzXUnitTest.AssemblyInfo.cs
IntermediaryBuzXUnitTest/obj/Debug/netcoreapp2.1/IntermediaryBuzXUnitTest.AssemblyInfoInputs.cache
IntermediaryBuzXUnitTest/obj/Debug/netcoreapp2.1/IntermediaryBuzXUnitTest.assets.cache
IntermediaryBuzXUnitTest/obj/Debug/netcoreapp2.1/IntermediaryBuzXUnitTest.csproj.CoreCompileInputs.cache
IntermediaryBuzXUnitTest/obj/Debug/netcoreapp2.1/IntermediaryBuzXUnitTest.csprojAssemblyReference.cache
IntermediaryBuz.WebUIMVC/obj/project.assets.json
IntermediaryBuz.WebUIMVC/obj/IntermediaryBuz.WebUIMVC.csproj.nuget.g.targets
IntermediaryBuz.WebUIMVC/obj/IntermediaryBuz.WebUIMVC.csproj.nuget.g.props
IntermediaryBuz.WebUIMVC/obj/IntermediaryBuz.WebUIMVC.csproj.nuget.cache
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/Razor/Views/Shared/Error.g.cshtml.cs
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/Razor/Views/Home/Privacy.g.cshtml.cs
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/Razor/Views/Home/Contact.g.cshtml.cs
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/Razor/Views/Home/About.g.cshtml.cs
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/Razor/Views/_ViewStart.g.cshtml.cs
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/Razor/Views/_ViewImports.g.cshtml.cs
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.Views.pdb
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.Views.dll
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.TagHelpers.output.cache
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.TagHelpers.input.cache
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.RazorTargetAssemblyInfo.cs
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.RazorTargetAssemblyInfo.cache
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.RazorCoreGenerate.cache
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.RazorAssemblyInfo.cs
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.RazorAssemblyInfo.cache
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.pdb
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.dll
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.csprojAssemblyReference.cache
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.csproj.FileListAbsolute.txt
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.csproj.CoreCompileInputs.cache
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.csproj.CopyComplete
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.assets.cache
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.AssemblyInfoInputs.cache
IntermediaryBuz.WebUIMVC/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.AssemblyInfo.cs
IntermediaryBuz.WebUIMVC/bin/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.Views.pdb
IntermediaryBuz.WebUIMVC/bin/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.Views.dll
IntermediaryBuz.WebUIMVC/bin/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.runtimeconfig.json
IntermediaryBuz.WebUIMVC/bin/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.runtimeconfig.dev.json
IntermediaryBuz.WebUIMVC/bin/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.pdb
IntermediaryBuz.WebUIMVC/bin/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.dll
IntermediaryBuz.WebUIMVC/bin/Debug/netcoreapp2.1/IntermediaryBuz.WebUIMVC.deps.json
IntermediaryBuz.WebUIAPI/obj/project.assets.json
IntermediaryBuz.WebUIAPI/obj/IntermediaryBuz.WebUIAPI.csproj.nuget.g.targets
IntermediaryBuz.WebUIAPI/obj/IntermediaryBuz.WebUIAPI.csproj.nuget.g.props
IntermediaryBuz.WebUIAPI/obj/IntermediaryBuz.WebUIAPI.csproj.nuget.cache
IntermediaryBuz.WebUIAPI/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
IntermediaryBuz.WebUIAPI/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
IntermediaryBuz.WebUIAPI/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
IntermediaryBuz.WebUIAPI/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIAPI.RazorAssemblyInfo.cs
IntermediaryBuz.WebUIAPI/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIAPI.RazorAssemblyInfo.cache
IntermediaryBuz.WebUIAPI/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIAPI.csprojAssemblyReference.cache
IntermediaryBuz.WebUIAPI/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIAPI.csproj.CoreCompileInputs.cache
IntermediaryBuz.WebUIAPI/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIAPI.assets.cache
IntermediaryBuz.WebUIAPI/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIAPI.AssemblyInfoInputs.cache
IntermediaryBuz.WebUIAPI/obj/Debug/netcoreapp2.1/IntermediaryBuz.WebUIAPI.AssemblyInfo.cs
.vs/IntermediaryBuz/v15/.suo
.vs/IntermediaryBuz/v15/Server/sqlite3/db.lock
.vs/IntermediaryBuz/v15/Server/sqlite3/storage.ide
.vs/IntermediaryBuz/v15/Server/sqlite3/storage.ide-shm
.vs/IntermediaryBuz/v15/Server/sqlite3/storage.ide-wal
