<div class="layui-logo">Intermediary Buz System</div>
<ul class="layui-nav layui-layout-left">
    <li class="layui-nav-item"><a href="" class="layui-nav-">首页</a></li>
    <li class="layui-nav-item"><a href="">产品</a></li>
    <li class="layui-nav-item"><a href="">解决方案</a></li>
    <li class="layui-nav-item"><a href="">社区</a></li>
    <li class="layui-nav-item"><a href="">联系我们</a></li>
</ul>
<ul class="layui-nav layui-layout-right">
    <li class="layui-nav-item"><a href="">系统管理员</a></li>
    <li class="layui-nav-item"><a href="">退出登录</a></li>
</ul>